doctype html
html
  head
    link rel="stylesheet" href="css/style.css"
  body

    .notCanvas
      img.hills src="img/hills.png" alt="hills"
      
      img.sun src="img/sun.png" alt="sun"
      img.balloon src="img/balloon.png" alt="balloon"
      img.birds src="img/birds.png" alt="birds"
      img.cloud src="img/cloud.png" alt="cloud"

      .leaf

    script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"
    script src="../../../jquery.keyframes.js"
    script src="js/animation.js"
    script src="js/init.js"