html, body
  margin: 0
  padding: 0
  overflow-x: hidden

.hills
  width: 100%
  height: auto
  margin-top: 200px

.sun, .balloon, .birds, .cloud, .leaf
  height: auto
  position: absolute
  left: 0
  top: 0

.sun
  width: 100px
.balloon
  width: 100px
.birds
  width: 100px
  display: none
.cloud
  width: 400px

.leaf
  width: 14px
  height: 14px
  background-image: url(../img/leaf.png)
  background-size: cover
  display: none